[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-seed = "*"
drf-writable-nested = "*"
drf-yasg = "*"
httptools = "*"
whitenoise = "*"
dj-database-url = "*"
django-heroku = "*"
psycopg2-binary = "*"
django-environ = "*"

[dev-packages]
autopep8 = "*"
